<div class='container'>
  {{custom-html "top"}}
  {{global-notice}}
  {{discourse-banner user=currentUser banner=site.banner}}
</div>

<div class='list-controls'>
  <div class="container">
    {{outlet navigation-bar}}
  </div>
</div>

<div {{bind-attr class="loadingSpinner::hidden"}}>
  <div class='spinner'>{{i18n loading}}</div>
</div>

{{#if Discourse.SiteSettings.active}}
  <div {{bind-attr class=":container :list-container :with-sidebar loadingSpinner:hidden"}}>
{{else}}
  <div {{bind-attr class=":container :list-container loadingSpinner:hidden"}}>
{{/if}}
  <div class="row">
    <div class="full-width">
      <div id='header-list-area'>
        {{outlet header-list-container}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="full-width">
      <div id='list-area'>
        {{outlet list-container}}
      </div>
    </div>
  </div>
</div>
{{#if Discourse.SiteSettings.active}}
  <div class='sidebar'>
    {{{Discourse.SiteSettings.sidebar_content}}}
  </div>
{{/if}}
